version: '3.9'
services:
  kafka:
    image: confluentinc/cp-kafka:latest
    container_name: sample-kafka
    ports:
      - "9092:9092"
      - "29092:29092"
      - "9093:9093"
    environment:
      # KRaft режим
      KAFKA_PROCESS_ROLES: broker,controller
      KAFKA_NODE_ID: 1
      KAFKA_CONTROLLER_QUORUM_VOTERS: 1@kafka:9093
      KAFKA_CONTROLLER_LISTENER_NAMES: CONTROLLER

      # Listeners
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:9092,PLAINTEXT_HOST://0.0.0.0:29092,CONTROLLER://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:9092,PLAINTEXT_HOST://localhost:29092
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,PLAINTEXT_HOST:PLAINTEXT,CONTROLLER:PLAINTEXT

      # Настройки
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_AUTO_CREATE_TOPICS_ENABLE: "true"
      KAFKA_TOPIC: "test-topic"
    networks:
      - sample-network

  panda:
    image: docker.redpanda.com/redpandadata/console:v2.3.8
    container_name: sample-panda
    depends_on:
      - kafka
    ports:
      - "18080:8080"
    networks:
      - sample-network
    environment:
      - KAFKA_BROKERS=kafka:9092
      - KAFKA_TLS_ENABLED=false
      - KAFKA_SASL_ENABLED=false

  init-kafka:
    image: confluentinc/cp-kafka:latest
    depends_on:
      - kafka
    entrypoint: [ '/bin/sh', '-c' ]
    command: |
      "
      # Ждем запуска Kafka
      sleep 45
      echo 'Creating topics...'
      kafka-topics --bootstrap-server kafka:9092 --create --if-not-exists --topic test-topic --replication-factor 1 --partitions 1
      kafka-topics --bootstrap-server kafka:9092 --list
      "
    networks:
      - sample-network

networks:
  sample-network:
    driver: bridge